<article>
    <h4>{{ card.question }}</h4>
    {% if not check_card %}
    <p>{{ card.answer }}</p>
    <hr>
    <div class="button-container">
        <form method="get" action="{% url 'card-update' deck_id=deck.id pk=card.id %}">
            <button type="submit" role="button">✏️ Edit Card</button>
        </form>
        <form method="post" action="{% url 'card-archive' deck_id=deck.id pk=card.id %}">
            {% csrf_token %}
            <button type="submit" role="button">🗃️ Archive Card</button>
        </form>
    </div>
    {% else %}
        <details>
            <summary>Reveal Answer</summary>
            <p>{{ card.answer }}</p>
        </details>
        <hr>
        {% include "cards/card_check_form.html" with solved=True %}
        {% include "cards/card_check_form.html" with solved=False %}
    {% endif %}
</article>